<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <img class="site-logo"
        src="https://i.pinimg.com/474x/44/ed/83/44ed833bcbf970f0408d03618fa6be02.jpg" alt="Logo" />
      <a class="navbar-brand" href="/group"> &nbsp;&nbsp;Calendário</a>
    </div>
    <a href="/user">Agenda</a>
    <a href="/user/invites">Convites</a>
    <a href="/user/invitar">Convidar</a>
    <a href="/user/logout">Logout</a>
  </div>
</nav>