<nav class="navbar navbar-inverse">
  <div class="container-fluid">
   
    <a href="/user">Agenda</a>
    <a href="/user/invites">Convites</a>
    <a href="/user/invitar">Convidar</a>
    <a href="/user/logout">Logout</a>
    <a href="/registerEmpresa.html">Cadastrar Empresa</a>
    <a href="/group/time">Cadastrar Time</a>
  </div>
</nav>