<!DOCTYPE html>
<html lang="en">
<%-include('includes/head.ejs')%>
<body>
<%-include('includes/navbar.ejs')%>

    <div class="container"> 
        <div class="card card-container">
            <img class="logo" src="https://i.pinimg.com/474x/44/ed/83/44ed833bcbf970f0408d03618fa6be02.jpg" alt="Logo" />
            <p id="logo-name" class="logo-name"></p>
            <form class="form-signin" action="/group/teamMember" method="POST" name="form">
                <span id="reauth-email" class="reauth-email"></span>
              
              <label for="time">A qual time deseja adicionar alguem</label>
              <select name="time" id="time" class="form-control" style="height: 35px;">
                <% times.forEach(time=> { %>
                <option value="<%=time.id%>"><%=time.nome%></option>
                <%})%>
                </select>
                <br>
                <label for="time">Email da pessoa</label>
                <br>
                <input type="email" name="email" id="email" class="form-control" placeholder="jorgelucas@gmail.com" required autofocus>
                <input class="btn btn-lg btn-primary btn-block btn-signin" type="submit" value="CADASTRAR">
            </form>
        </div>
    </div>
</body>
</html>