<!DOCTYPE html>
<html lang="en">
<%-include('includes/head.ejs')%>
<body>
<%-include('includes/navbar.ejs')%>

    <div class="container"> 
        <div class="card card-container">
             <h3 id="init-msg">Cadastro De Time: </h3>
            <img class="logo" src="https://i.pinimg.com/474x/44/ed/83/44ed833bcbf970f0408d03618fa6be02.jpg" alt="Logo" />
            <p id="logo-name" class="logo-name"></p>
            <form class="form-signin" action="/group/register" method="POST" name="form">
                <span id="reauth-email" class="reauth-email"></span>
              
              <label for="time">A qual empresa pertence o time? </label>
              <select name="empresa" id="empresa" class="form-control">
                <% times.forEach(time=> { %>
                <option value="<%=time.id%>"><%=time.nome%></option>
                <%})%>
                </select>
                <br>
                <input type="text" name="nome" id="nome" class="form-control" placeholder="Nome" required autofocus>
                <br>
                <input type="text" name="descricao" id="descricao" class="form-control" placeholder="Descrição" required autofocus>
                <input class="btn btn-lg btn-primary btn-block btn-signin" type="submit" value="CADASTRAR">
            </form>
        </div>
    </div>
</body>
</html>